opencv-python
ipykernel
plotly
pandas
nbformat
numpy
matplotlib
kaggle
kagglehub
scikit-learn
pillow
# pip3 install torch torchvision --index-url https://download.pytorch.org/whl/cu126
# Gradio dependencies
gradio
urllib
ultralytics
# albumenations
imgaug